extends base.pug

block style
    style
        include ../static/homeAct.css

block content
    .product
        .productpage
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                        p 
                            | 15468
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
            a.itemcon(href='')
                .pitem
                    .pitemMage
                        - var img = "../static/photo.jpg"
                        img(src= img)
                    .pitemCost
                        p  
                            |  #{costforthis1}
                            
                .over
                    button(type='button') BUY NOW
           
        
                    
        .pagination
            a(href='#') &laquo;
            a(href='#') 1
            a(href='#') 2
            a(href='#') 3
            a(href='#') 4
            a(href='#') 5
            a(href='#') 6
            a(href='#') &raquo;
